<%= render_uploadify(:id  => "photo_photo", :url => photos_path, :fields => ["photo_title"]) %>
<div>
  <%= text_field :photo, :title %>
</div>
<div>
  <%= file_field :photo, :photo %>
</div>
<div id="photo_submit">
  <%= uploadify_submit("Upload") %>
  <%= uploadify_cancel("Stop") %>
</div>

